h1{
  color : black;
  text-align: center;
  font-style: bold;
  /* text-shadow: 2px 2px 2px red; */
}
p{
  text-align: center;
}
h3,h2{
  text-align: center;
  color:black;
}
div.centre{
  margin-left: 35%;
}
div.Body
{
/* background: linear-gradient( blue,cyan); */
width: 100%;
}
body{
  background-color:  #e6f2ff;
}
